.Cap{
    width: 100%;
    background:url("../img/4.png") no-repeat center top fixed black;
    text-align: center;
    border-bottom:solid;
    border-color:#01FFB0;
}
.Cap h1{
    padding-top: 150px;
    padding-bottom: 150px;
    color: #01FFB0;
}
nav{
    border-bottom:solid;
    border-color:#01FFB0;
}
.col-md-4{
    padding-bottom: 20px;
}
#Introduccio{
    text-align: center;
    padding: 30px;
}
#Gastronomia{
    background-color: #F6F6F6;
    padding-bottom: 5px;
    padding-top: 10px;
}
#Historia{
    padding-bottom: 5px;
    padding-top: 10px;
}
#Monuments{
    background-color: #F6F6F6;
    padding-bottom: 5px;
    padding-top: 10px;
}
#Platjes{
    padding-bottom: 5px;
    padding-top: 10px;
}
#Cultura{
    background-color: #F6F6F6;
    padding-bottom: 10px;
    padding-top: 10px;
}
.Footer{
    background-color: #585858;
    padding: 15px;
    text-align: center;
}
.Footer p{
    color:white;
}
header{
    background-color: white;
    padding: 5px;
    text-align: center;
    border-bottom:solid;
    border-color:#01FFB0;
}
