
nav{
    border-bottom:solid;
    border-color:#01FFB0;
}
#contacte{
    background:url("../img/4.png") no-repeat center top fixed black;
    border-top:solid;
    border-color:#01FFB0;
}
legend {
    color:#01FFB0;
    font-size:16px;
    padding:0 10px;
    background:#474747;
    -moz-border-radius:4px;
    box-shadow: 0 1px 5px #01FFB0;
    padding:5px 10px;
    text-transform:uppercase;
    font-family:Helvetica, sans-serif;
    font-weight:bold;
    text-align: center;
}
#wrapper {
    width:450px;
    margin:0 auto;
    font-family:Verdana, sans-serif;
    padding-top:95px;
    padding-bottom: 130px;
}

fieldset {
    border-radius:4px;
    background: -moz-linear-gradient(#fff, #f9fdff);
    background: -o-linear-gradient(#fff, #f9fdff);
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#000000a8), to(#000000a8)); /
background: -webkit-linear-gradient(#fff, #f9fdff);
    padding:20px;
    border-color:#01FFB0;
}
input, textarea {
    color: #373737;
    background: #fff;
    border: 1px solid #CCCCCC;
    color: #aaa;
    font-size: 14px;
    line-height: 1.2em;
    margin-bottom:15px;

    -moz-border-radius:4px;
    -webkit-border-radius:4px;
    border-radius:4px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1) inset, 0 1px 0 rgba(255, 255, 255, 0.2);
}
input[type="text"]{
    padding: 8px 6px;
    height: 22px;
    width:280px;
}
input[type="text"]:focus{
    background:#f5fcfe;
    text-indent: 0;
    z-index: 1;
    color: #373737;
    -webkit-transition-duration: 400ms;
    -webkit-transition-property: width, background;
    -webkit-transition-timing-function: ease;
    -moz-transition-duration: 400ms;
    -moz-transition-property: width, background;
    -moz-transition-timing-function: ease;
    -o-transition-duration: 400ms;
    -o-transition-property: width, background;
    -o-transition-timing-function: ease;
    width: 380px;

    border-color:#01FFB0;
    box-shadow:0 0 5px #01FFB0;
    opacity:0.6;
}
input[type="submit"]{
    background: #01FFB0;
    border: none;
    text-shadow: 0 -1px 0 rgba(0,0,0,0.3);
    text-transform:uppercase;
    color: black;
    cursor: pointer;
    font-size: 15px;
    margin: 5px 0;
    padding: 5px 22px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    -webkit-border-radius:4px;
    -webkit-box-shadow: 0px 1px 2px rgba(0,0,0,0.3);
    -moz-box-shadow: 0px 1px 2px rgba(0,0,0,0.3);
    box-shadow: 0px 1px 2px rgba(0,0,0,0.3);
}
textarea {
    padding:3px;
    width:96%;
    height:100px;
}
textarea:focus {
    background:#fff;
    text-indent: 0;
    z-index: 1;
    color: #373737;
    opacity:0.6;
    box-shadow:#01FFB0;
    border-color:#01FFB0;
}
.small {
    line-height:14px;
    font-size:12px;
    color:#999898;
    margin-bottom:3px;
}

.Footer{
    background-color: #585858;
    padding: 15px;
    text-align: center;
}
.Footer p{
    color:white;
}
header{
    background-color: white;
    padding: 5px;
    text-align: center;
    border-bottom:solid;
    border-color:#01FFB0;
}