nav{
    border-bottom:solid;
    border-color:#01FFB0;
}
body{
    background-color: #585858;
}
.Footer{
    background-color: #585858;
    padding: 15px;
    text-align: center;
}
.Footer p{
    color:white;
}

.carousel-inner img{
    width: 100%;
}


.carousel-control-prev-icon .carousel-control-next {
    color: black;
}

.carousel-caption {
    border-radius:4px;
    background: -moz-linear-gradient(#fff, #f9fdff);
    background: -o-linear-gradient(#fff, #f9fdff);
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#000000a8), to(#000000a8)); /
    background: -webkit-linear-gradient(#fff, #f9fdff);
    padding:20px;
}
header{
    background-color: white;
    padding: 5px;
    text-align: center;
    border-bottom:solid;
    border-color:#01FFB0;
}
